In [1]:
#2
#a
str = 'Hello NIELIT!'
b = str + 'Hello'
print(b)

Hello NIELIT!Hello

In [3]:
#b
str = 'Hello NIELIT!'
b = str*2
print(b)

Hello NIELIT!Hello NIELIT!

In [4]:
#c
str = 'Hello NIELIT!'
b = str[2:4] + str[7:9]
print(b)

llIE

In [5]:
#d
str = 'Hello NIELIT!'
b = str[2:4] +str[7:9]
print(b[2:4])

IE

In [6]:
#3
#a
x = ['abcd',786,2.23,'john',70.2]
b = x + 'Hello'
print(b)

TypeError: can only concatenate list (not "str") to list

In [7]:
#b
x = ['abcd',786,2.23,'john',70.2]
b = x*2
print(b)

['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]

In [8]:
#c
x = ['abcd',786,2.23,'john',70.2]
b = x[1]+x[2]
print(b)

788.23

In [9]:
#d
x = ['abcd',786,2.23,'john',70.2]
x[1] = 100
b = x[1] + x[2]
print(b)

102.23

In [10]:
#4
#a
x = ('abcd',786,2.23,'john',70.2)
b = x + 'Hello'
print(b)

TypeError: can only concatenate tuple (not "str") to tuple

In [11]:
#b
x = ('abcd',786,2.23,'john',70.2)
b = x*2
print(b)

('abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2)

In [12]:
#c
x = ('abcd',786,2.23,'john',70.2)
b = x[1]+x[2]
print(b)

788.23

In [13]:
#d
x = ('abcd',786,2.23,'john',70.2)
x[1] = 100
b = x[1]+x[2]
print(b)

TypeError: 'tuple' object does not support item assignment

In [14]:
#5
#a
x = {'abcd',786,2.23,'john',70.2}
b = x + 'Hello'
print(b)

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [16]:
#b
x = {'abcd',786,2.23,'john',70.2}
b = x*2
print(b)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [17]:
#c
x = {'abcd',786,2.23,'john',70.2}
b = x[1]+x[2]
print(b)

TypeError: 'set' object is not subscriptable

In [18]:
#d
x = {'abcd',786,2.23,'john',70.2}
x[1] = 100
b = x[1]+x[2]
print(b)

TypeError: 'set' object does not support item assignment

In [19]:
#6
#a
x = 6/3/2
print(x)

1.0

In [20]:
#b
x=2
a = x*-5
b = x**-5
print(a)
print(b)

-10
0.03125

In [21]:
#c
x = (7+3)*10/5
print(x)

20.0

In [22]:
#d
a = 27//5
b = 27/5
print(a)
print(b)

5
5.4

In [23]:
#7
#a
x = (10<5) and ((5/0)<10)
print(x)

False

In [26]:
#b
x = (10>5) and ((5/0)<10)
print(x)

False

In [27]:
#c
x = not (10<5) and ((5/0)<10)
print(x)

ZeroDivisionError: division by zero

In [28]:
#d
x = (10>5) or ((5/0)<10)
print(x)

True

In [29]:
#8
#a 
5%10+10<50 and 29>=29

True

In [30]:
#b
7**2 <=5 // 9 %3 or 'bye'<'Bye'

False

In [31]:
#c
5%10 < 10 and -25 > 1 * 8 //5

False

In [32]:
#d
7**2 // 4+5 > 8 or 5 !=6

True

In [34]:
#e
7/4 <6 and 'I am fine' >'I am not fine'

False

In [35]:
#f
10+6 * 2 ** 2 !=9//44-3 and 29 >=29/9

True

In [36]:
#g
'hello'*5 >'hello' or 'bye' <'Bye'

True

In [38]:
#9
x = 10
x += x + 10
print(x)
x = x +10
print(x)

30
40

In [39]:
#10
# Python kewords are : and, class, pass, if, not