In [2]:
#2
d= {'name':'Ajay','age':40,'class':5}
print("Keys = ",d.keys())
print("Values = ",d.values())

Keys =  dict_keys(['name', 'age', 'class'])
Values =  dict_values(['Ajay', 40, 5])

In [6]:
#3
T= {1:10,2:20,3:30,4:40,5:50,6:60}
print("The number of keys are ",len(T))
print("The number of values are ",len(T))
sum1 = 0
for i in T:
    sum1 +=T[i]
print("The sum of values are ",sum1)

The number of keys are  6
The number of values are  6
The sum of values are  210

In [1]:
#4
Key = ['Mango','Banana','Apple']
Value = [40, 50,100]
# x = zip(Key,Value)
d = dict(zip(Key,Value))
print(d)

{'Mango': 40, 'Banana': 50, 'Apple': 100}

In [1]:
#5
n= [11,12,13,14,15,21,22,23,24,25]
d = {}
odd,even = 0,0
for i in n:
    if i%2==0:
        even +=1
    else:
        odd +=1
d['odd'] = odd
d['even'] = even
print(d)

{'odd': 6, 'even': 4}

In [12]:
#6
def area_rec(l,b):
    return l*b
print("The area of rectangle is ",area_rec(4,5))

The area of rectangle is  20

In [13]:
#7
def area_cir(r):
    pie = 3.14
    return pie*r*r
print("The area of circle is ",area_cir(5))

The area of circle is  78.5

In [15]:
#8
def fact(n):
    fact = 1;
    for i in range(1,n+1):
        fact *=i
    return fact
print("The factorial is ",fact(5))

The factorial is  120

In [18]:
#9
def sum_of():
    sum1 = 0
    for i in range(1,11):
        sum1 +=i
    return sum1
print("The sum of first 10 natural numbers are ",sum_of())

The sum of first 10 natural numbers are  55

In [19]:
#10
def sum_of_4(a,b,c,d):
    return a+b+c+d
print("The sum of 4 numbers are ",sum_of_4(5,5,10,20))

The sum of 4 numbers are  40