In [2]:
#6
#a
y=2.8
b=int(y)
print(b)

2

In [3]:
#b
x="10"
y=int(x)+10
print(y)

20

In [4]:
#c
x=10.73
y=int(x)
print(x+y)

20.73

In [5]:
#d
x=10E2
y=10+int(x)
print(y)

1010

In [6]:
#7
principal = 1000
roi = 10
time = 5
simpleInterest = (principal*roi*time)/100
print("Simple Interest is :",simpleInterest)

Simple Interest is : 500.0

In [7]:
#8
#a
m1=text1='hello\
user'
print(m1)
print(text1)

hellouser
hellouser

In [9]:
#b
msg = '''welcome
to
NIELIT'''
print(msg)

welcome
to
NIELIT

In [10]:
#c
m1=text1='Apple\
Mango'
print('You like the fruit- :',m1)

You like the fruit- : AppleMango

In [11]:
#d
fruit='Mango'
print(fruit+100)

TypeError: can only concatenate str (not "int") to str

In [12]:
#9
a = 5
b = 6
print("The value of a before swap is :",a)
print("The value of b before swap is :",b)
a,b = b,a
print("The value of a after swap is :",a)
print("The value of b after swap is :",b)

The value of a before swap is : 5
The value of b before swap is : 6
The value of a after swap is : 6
The value of b after swap is : 5

In [14]:
#10
basic = 10000
hra = (16/100)*basic
da = (12/100)*basic
gross_salary = basic+hra+da
print(gross_salary)

12800.0

In [15]:
#11
a = 1.2
b = 2.4
c = 3.6
sum1 = a+b+c
print("The sum of a, b and c is :",sum1)

The sum of a, b and c is : 7.199999999999999

In [16]:
#12
a = 10
b = 20
c = 30
avg = a+b+c
print("The average of three numbers is :",avg)

The average of three numbers is : 60

In [18]:
#13
kilo = int(input("Enter the distance in kilometers"))
meter = kilo*1000
centrimeter = meter*10
inch = kilo*39370
feet = kilo*3280.84
print("Kilometer into meter is :",meter,"m")
print("kilometer into centrimeter is :",centrimeter,"cm")
print("kilometer into inch is :",inch,"in")
print("kilometer into feet is :",feet,"ft")

Enter the distance in kilometers10
Kilometer into meter is : 10000 m
kilometer into centrimeter is : 100000 cm
kilometer into inch is : 393700 in
kilometer into feet is : 32808.4 ft

In [19]:
#14
#a
y=0x2c
b = y + 10
print(b)

54

In [20]:
#b
x = 0o27
y = x+10
print(y/2)

16.5

In [21]:
#c
x = 0x2A + 0xAA
y = 0o22
print(x+y)

230

In [22]:
#d
x = 0x2a + 0o2A
y = x/2
print(y)

SyntaxError: invalid octal literal (1732724903.py, line 2)