In [1]:
#2
string = "Green Revolution"
print(string[::-1])

noituloveR neerG

In [4]:
#3
#a
print('I like Gita\'s pink colour dress')
#We use the ' after Gita to use the apostrophe symbol

I like Gita's pink colour dress

In [5]:
#b
str='Honesty is the best policy'
str.replace('o','*')
#with the help of the replace function we changing 'o' into '*' where ever it occurs

'H*nesty is the best p*licy'

In [7]:
#c
str='Hello World'
str.istitle( )
#This function returns true when all the words first character is uppercase and rest are lowercase

True

In [9]:
#d
str="Group Discussion"
print (str.lstrip("Gro"))
#This function strips the Gro "from" the above string

up Discussion

In [20]:
#4
str="Global Warming"
#a
print(str[-4:])

ming

In [21]:
#b
print(str[4:9])

al Wa

In [23]:
#c
print(str.isalnum())

False

In [25]:
#d
print(str[:-4])

Global War

In [27]:
#e
print(str[4:])

al Warming

In [28]:
#f
print(str[7:9])

Wa

In [29]:
#g
print(str.upper())

GLOBAL WARMING

In [30]:
#h
print(str.istitle())

True

In [31]:
#i
print(str.replace('a','*'))

Glob*l W*rming

In [44]:
#5
str1 = "P@#yn26at^&i5ve"
num = ['1','2','3','4','5','6','7','8','9','0']
count,special = 0,0
upper, lower= 0,0
for i in str1:
    if i in num:
        count +=1
    elif ord(i)>=65 and ord(i)<=90:
        upper +=1
    elif ord(i)>=97 and ord(i)<=122:
        lower +=1
    else:
        special +=1
print("The total number of uppercase are: ",upper)
print("The total number of lowercase are: ",lower)
print("The total number of special characters are: ",special)
print("The total number of digits are: ",count)

The total number of uppercase are:  1
The total number of lowercase are:  7
The total number of special characters are:  4
The total number of digits are:  3

In [63]:
#6
x = input("Enter the numbers ")
lst = list(map(int,x.split()))
print("The sum of the list is ",sum(lst))
print("The average of the list is ",sum(lst)//len(lst))

Enter the numbers 20 10 30 40 50 6 8 12
The sum of the list is  176
The average of the list is  22

In [67]:
#7
String = "Python is a Programming Language"
a,e,i,o,u = 0,0,0,0,0
for j in String:
    if j=='a':
        a+=1
    elif j=='e':
        e+=1
    elif j=='i':
        i+=1
    elif j=='o':
        o+=1
    elif j=='u':
        u+=1
print("a occured %d times"%(a))
print("e occured %d times"%(e))
print("i occured %d times"%(i))
print("o occured %d times"%(o))
print("u occured %d times"%(u))

a occured 4 times
e occured 1 times
i occured 2 times
o occured 2 times
u occured 1 times

In [74]:
#8
MainString = "Ajay Vijay Sanjay Ajay Ajit Vijay Vikas Rakesh"
SearchString = "Vijay Rakesh"
main = MainString.split()
v,r = 0,0
for i in main:
    if i=="Vijay":
        v +=1
    elif i=="Rakesh":
        r +=1
print("Vijay = ",v)
print("Rakesh = ",r)

Vijay =  2
Rakesh =  1

In [76]:
#9
MainString = "Ajay Vijay Sanjay Ajay Ajit Vijay Vikas Rakesh"
main = MainString.split()
count = 0
for i in main:
    if i[0]=='A':
        count +=1
print(count)

3